.panel-heading {
    text-align: center;
    background-color: none;
}

.titlepanel {
    font-weight: bold;
    /*padding: 3px;*/
}

.subsecpanel {
    background: none;
    /*padding: 5px;*/
}

.inputrow {
    padding-left: 10px;
}

.inputrow>* {
    margin-top: 5px;
    margin-bottom: 5px;
}

.controldiv>.row {
    margin: 0px;
}

.panel-body {
    /*padding: 0px;*/
    box-sizing: border-box;
}

h3 {
    font-weight: bold;
}

h5 {
    margin: 0px;
}

svg {
    width: 100%;
    /*background-color: #55AAAA;*/
    box-sizing: border-box;
}

.stop-left {
    stop-color: #feb24c;
}

.stop-right {
    stop-color: #800026;
}

.filled {
    fill: url(#mainGradient);
}
